{% extends "health/base.html" %}
{% block content %}



<style>
    body {
        background-image: url('https://images.pexels.com/photos/841131/pexels-photo-841131.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        color: white;
    }
</style>
<h1 class="mb-3 h2">FITNESS VISION</h1>
<h1>Welcome to Fitness Vision</h1>

<p style="color:rgba(red, green, blue, alpha)">A health tracker is an electronic application used to record and manage
    healthy
    living statistics and measure progress, but what does it really mean?A health tracker
    is a way to take all your data and put it together to form a meaningful picture of your
    overall lifestyle, be it healthy or not so. It also makes these numbers actionable so that
    they deliver real meaning to our lives, rather than just a set of random numbers. Too often
    we track our activity and meals but don’t turn that data into healthy lifestyle decisions in
    ways that really matter.<br><br>
</p>

<h1>Why Should I Use One?</h1>

<p>Tracking your health and fitness is a crucial part of a healthy, active lifestyle. It helps
    you to measure your progress by gauging the success of your workout regime and meal planning,
    so you can focus on the methods that work best for you. There are a number of great reasons
    why you should use one.</p>

<h1>Our story</h1>
<p>In 1993, the first Fitness Vision club opened in Delhi in the North Of India. Over the next
     decade and a half, Fitness Vision was present in over 16 countries, including India making it a 
     leader in the global fitness industry. In 2018, Fitness Vision India was acquired by cure.fit, 
     India's largest chain of fitness centres that offers energetic group workouts and multiple workout
     formats to choose from.</p>
</div>

{% endblock %}