{% extends "health/base.html" %}
{% block content %}
<div class="container mt-4">
  <div class="alert alert-success mb-3 text-center">
    <strong><h1>You May Follow These Videos</h1></strong>
  </div>
{% if msg %}
 <h1>{{msg}}</h1>
{% endif %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Videos</th>
        <th scope="col">Save Link</th>
      </tr>
    </thead>
    <tbody>
        {% for user in videos %}
      <tr>
        <td><a href="{{user.link}}"><img src="../../static/health/image/{{user.pic}}" width="400" height="230"></a></td>
        <td><a href="{% url 'savevideo' id=user.id %}" class="btn btn-success">Save</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  {% endblock %}
  
 